body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #007BFF;
}


h1 {
    text-align: center;
    color: #fff;
    background-color: #007BFF;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#imeu{
    margin-left: 100px;
}
#meio {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin-left: 770px;
    margin-top: -400px;
    text-align: center;


}


#meio p {
    color: #555;
    text-align: justify;
}


#con{
    margin-top: 100px;
    margin-left: 100px;
}


/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


th, td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}


th {
    background-color: #007BFF;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}


td {
    background-color: #f9f9f9;
}


td img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


td img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border: 2px solid #ff0000;
}


td a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: all 0.3s ease;
}


td a:hover {
    background-color: #007BFF;
    color: #fff;
}


tr:nth-child(even) td {
    background-color: #f1f1f1;
}


tr:hover td {
    background-color: #e9ecef;
}
